
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>智能货架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    

    <!-- Loading Flat UI -->
    <!-- <link href="/stylesheets/flat-ui.css" rel="stylesheet"> -->

    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <style type="text/css">
      .floorBackground{
        text-align: center;
      }
      .boxes{
        margin-top:-150px;
      }
      .box-container{
        text-align: center;
      }
      .img-shelf{
        /*width: 100%;*/
      }
      .img-box{
        /*width: 100%;*/
        /*height: 100%;*/
      }
    </style>
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //基础操作：
      //1. 图片的修改
      //2. 数字的修改
      //3. 模式窗口
      //4. 显示各个种类的数量，当点击时，对该类信息进行介绍
      //系统定义
      var floorCount =4;//货架的层数定义
      var ItemCountEachFloor = 2;//每层货架放置的产品类

      // 全局变量
      var PositionsList = new Array();
      var tileList = new Array();
      var typeImageMap = [
                          {itemType:'01', image:'Chat@2x.png', des:'你喜欢和我聊天吗？',title: '聊天'}, 
                          {itemType:'null', image:'Compas@2x.png', des:'这个位置没有放置任何东西！', title:'空白'}, 
                          {itemType:'02', image:'Pensils@2x.png', des:'我们可以卖大量的铅笔给你，你需要多少呢？', title:'铅笔'}];


      function getTypeInfoByType(_type){
        for(var key in typeImageMap){
          if(typeImageMap[key].itemType == _type){
            return typeImageMap[key];
          }
        }
        return null;        
      }

      function carbinetItem(_epc, _itemType){
        this.epc = _epc;
        this.itemType = _itemType;
      }
      
      function Tile(_image, _button){
        this.image = _image;
        this.button = _button;
      }
      //货架上的不同位置的定义，包括该位置的坐标属性，当前存放的物品类型及其数量，并包含了物品的列表
      function carbinetPosition(x, y){
        this.yfloor = y;
        this.xindex = x;
        this.itemType = null;
        this.itemQuantity = 0;
        this.itemList = new Array();
        this.Tile = null;
      }
      carbinetPosition.prototype.addItem = function(_item) {
          if(_item == null) return false;
          if(this.itemType != null && _item.itemType != this.itemType) return false;

          this.itemList.push(_item);
          if(this.itemQuantity <= 0){
            this.itemType = _item.itemType;
          }
          this.itemQuantity ++;
          return true;
      };
      carbinetPosition.prototype.removeItem = function(_epc){

          var item = _.find(this.itemList, function(_item){
            return _item.epc == _epc;
          });
          if(item != null){
            this.itemList = _.filter(this.itemList, function(_item){
              return _item.epc != _epc;
            });

            this.itemQuantity = _.size(this.itemList);
            if(_.size(this.itemList) <=0){
              this.itemType = null;
            }
          }
          // var itemIndex = -1;
          // for(var key in this.itemList){
          //   if(this.itemList[key].epc == _epc){
          //     itemIndex = key;
          //     break;
          //   }
          // }

          // if(itemIndex >= 0){
          //   this.itemList.splice(itemIndex, 1);
          //   this.itemQuantity--;

          //   if(this.itemQuantity <= 0){
          //     this.itemType = null;
          //   }
          //   return true;
          // }else{
          //   return false;
          // }
      };

      carbinetPosition.prototype.updateShowTile = function(){
        if(this.Tile != null){
          this.Tile.button.html(this.itemQuantity);
          if(this.itemType == null){
              var map = getTypeInfoByType('null');
              if(null != map){
                this.Tile.image.attr('src', '/images/'+map.image);
              }
          }else{
            var map = getTypeInfoByType(this.itemType);
            if(null != map){
              this.Tile.image.attr('src', '/images/'+ map.image);
            }
          }
        }
      };

      function initCarbinetPositionList(){
        for (var i = 1; i <= 4; i++) {
          for(var index = 1; index <= 4; index++){
            var pos = new carbinetPosition(i,index);
            PositionsList.push(pos);
          }
        };
      }
      function fillFloors(){
        for(var floorIndex = 1; floorIndex <= floorCount; floorIndex++){
            // if(floorIndex > 1) continue;
            var Floor = $('#Floor_'+ floorIndex);
            var ele = '<div class="span2"></div>';
            // var ele = '';
            for (var index = 1; index <= ItemCountEachFloor; index++) {
              ele += '<div class="span3"> <div class="tile" id = "tile_'+ floorIndex +'-'+ index +'">  <img id="image_'+ floorIndex +'-'+ index +'" src="/images/Compas@2x.png" alt="Compas@2x" class="tile-image"> </div> </div>  <div class = "span1 span-item-count"> <div class="item-count-show" id = "btn_'+ floorIndex +'-'+ index +'"  style="" href="#">0</div> </div>';
            };
            ele += '<div class="span2"></div>';

            Floor.html(ele);          
        }
      }
      function initFloors(){
          var container = $('#container');
          var ele = '';
          // var ele = '<div class="row" style=" background-image: url(/images/head.png) ;background-repeat:no-repeat; width:100%;height:100%;background-size: 100% 100%; margin-top:10px;"><div class = "span12" > <h3 class="demo-panel-title" style="text-align:center;font-size:40px;">智能货架</h3> </div> </div>';
          for (var i = 1; i <= floorCount; i++) {
            if(i > 1){
              ele += '<div class="row demo-tiles" id = "Floor_'+ i +'"  style="background-image: url(/images/floor.png) ;background-repeat:no-repeat; width:100%;height:100%;background-size: 100% 100%;"> </div> ';
            }else{
              ele += '<div class="row demo-tiles" id = "Floor_'+ i +'"  > </div> ';
            }
          };
          container.html(ele);
      }
      $(document).ready(function(){
          return;
          initFloors();
          fillFloors();
          initCarbinetPositionList();
          // $('#btn_1-1').html('40');
          // $('#image_1-1').attr('src', '/images/Pensils@2x2.png');
          $('#myModal').click(function(){
              closeDetailWindow();
          });

          var floor;
          var index;
          for(floor = 1; floor <= floorCount; floor++){
            for(index = 1; index <= ItemCountEachFloor; index++){

                (function(){
                    var y=floor;
                    var x = index;
                    var button = $('#btn_'+y+'-'+x);
                    var image = $('#image_'+y+'-'+x);

                    image.click(function(){
                      var pos = findPosByXY(x, y);
                      var typeInfo;
                      if(pos.itemType == null){
                        typeInfo = getTypeInfoByType('null')
                      }else{
                        typeInfo = getTypeInfoByType(pos.itemType)
                      }
                      $('#modal-detail-title').html(typeInfo.title);
                      $('#modal-detail-more').html(typeInfo.des);
                      $('#modal-detail-img').attr('src', '/images/'+typeInfo.image);
                      openDetailWindow();
                    });
                    var tile = new Tile(image, button);
                    var pos = findPosByXY(x, y);
                    if(pos != null){
                      pos.Tile = tile;
                    }
                    tileList.push(tile);

                })(floor, index);
            }
          }
          // setInterval('testAddSomeItem()', 5000);
          // setTimeout('testRemoveItem()', 10000);
          // testAddSomeItem();
      });
      function testAddSomeItem(){
        var item_floor1_1_type1 = new carbinetItem('0101', '01');
        addItemToFloor(1, item_floor1_1_type1);
        var item_floor1_2_type1 = new carbinetItem('0102', '01');
        addItemToFloor(1, item_floor1_2_type1);

        var item_floor2_0103_type1 = new carbinetItem('0103', '01');
        addItemToFloor(2, item_floor2_0103_type1);
        // var pos = PositionsList[0];
        // if(pos.itemQuantity <= 0){

        //   pos.addItem(new carbinetItem('0101', '01'));
        //   pos.addItem(new carbinetItem('0102', '01'));
        //   pos.addItem(new carbinetItem('0103', '01'));
        //   pos.addItem(new carbinetItem('0104', '02'));
        // }
        // else{
        //   pos.removeItem('0101');
        //   pos.removeItem('0102');
        //   pos.removeItem('0103');
        // }

        updateShowTile();
      }
      function testRemoveItem(){
        removeItemByEPC('0103');
        removeItemByEPC('0101');

        var item_floor2_0104_type2 = new carbinetItem('0104', '02');
        addItemToFloor(2, item_floor2_0104_type2);

        updateShowTile();
      }

      function addItemToFloor(_floor, _item){
        for(var key in PositionsList){
          var pos = PositionsList[key];
          if(pos.yfloor == _floor){//放到指定的层
              if(pos.itemType == null || (pos.itemType != null && pos.itemType == _item.itemType)){

                //找到合适的位置了
                return pos.addItem(_item);
              }
          }
        }
      }
      function removeItemByEPC(_epc){
        for(var key in PositionsList){
          var pos = PositionsList[key];
          if(pos.removeItem(_epc)){
            break;
          }
        }
      }

      function updateShowTile(_position){
        for(var key in PositionsList){
          PositionsList[key].updateShowTile();
        }
      }
      function findPosByXY(_x, _y){
        return _.find(PositionsList, function(_pos){
          return _pos.xindex == _x && _pos.yfloor == _y;
        });

        // for(var key in PositionsList){
        //   if(PositionsList[key].xindex == _x && PositionsList[key].yfloor == _y){
        //     return PositionsList[key];
        //   }
        // }
        // return null;

      }

      function openDetailWindow(){
        $('#myModal').modal('show');
      }
      function closeDetailWindow(){
        $('#myModal').modal('hide');
      }
    </script>
  </head>
  <body>
   <h3 class="demo-panel-title" style="text-align:center;font-size:40px;">智能货架</h3> 
    <div class="container" id = "container" style="">

      <div class="row" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png">
          </div>
      </div>      
      <div class="row boxes" style="">
          <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 " ></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box-container" >
            <div>
            <img src="/images/box1.png">
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 box-container" >
            <div>
            <img src="/images/box1.png">
            </div>            
          </div>          
          <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 box-container" >
            <div>
            <img src="/images/box1.png">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
      </div>

      <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>

      </div>      
      <div class="row boxes" style="">
          <div class="col-md-2 col-sm-1 col-xs-1" ></div>
          <div class = "col-md-4 col-sm-5 col-xs-5 box-container">
            <div>
            <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-5 box-container" >
            <div>
              <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-md-2 col-sm-1 col-xs-1" ></div>
      </div>


      <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>

      </div>      
      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
          <div class = "col-lg-4 col-md-4 col-sm-5 col-xs-5 box-container">
            <div>
            <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 box-container" >
            <div>
            <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
      </div>


      <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>

      </div>      
      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
          <div class = "col-lg-4 col-md-4 col-sm-5 col-xs-5 box-container">
            <div>
            <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 box-container" >
            <div>
            <img src="/images/box1.png" class="img-box">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
      </div>      
    </div> <!-- /container -->



 <!-- data-toggle="modal" data-target="#myModal" -->     
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h2 class="modal-title" id="myModalLabel" style="text-align: center;">介绍</h2>
      </div>
      <div class="modal-body">
          <div style="text-align: center;">
            <img id="modal-detail-img" src="/images/Pensils@2x.png" alt="Pensils@2x2" class="tile-image">
            <div>
              <h1 id="modal-detail-title">铅笔</h1>
              <p id="modal-detail-more">这是一个铅笔的图标</p>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary" onclick="closeDetailWindow()">关 闭</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
     

    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <!-- // <script src="/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- // <script src="js/bootstrap-select.js"></script> -->
    <!-- // <script src="js/bootstrap-switch.js"></script> -->
    <!-- // <script src="js/flatui-checkbox.js"></script> -->
    <!-- // <script src="js/flatui-radio.js"></script> -->
    <!-- // <script src="js/jquery.tagsinput.js"></script> -->
    <!-- // <script src="js/jquery.placeholder.js"></script> -->
    <!-- // <script src="js/jquery.stacktable.js"></script> -->
    <!-- // <script src="http://vjs.zencdn.net/c/video.js"></script> -->
    <!-- // <script src="js/application.js"></script> -->
  </body>
</html>
