
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>智能货架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap2.css" rel="stylesheet" media="screen">    

    <!-- Loading Flat UI -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
    <!-- // <script data-main="javascripts/main" src="/javascripts/require.js"></script> -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/highcharts.js"></script>
    <!-- // <script src="http://code.highcharts.com/highcharts.js"></script> -->
    <script type="text/javascript">
    var pieChart;
    var columnChart;
    var doubleColumnChart;

      function init(data){
            var options = {
                credits : {
                    enabled : false//去掉右下角的标志
                },
                chart: {
                    renderTo: 'containerLeft',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '实时比例统计'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                // legend: {enabled: false;},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            color: '#ffffff',
                            connectorColor: '#000000',
                            formatter: function() {
                                return this.percentage.toFixed(2) +' %';
                                // return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{type: 'pie'}]
            };
             options.series[0].data = data;
             // options.series[0].data = [['A',3],['B', 3]];
            pieChart = new Highcharts.Chart(options);        
        //This will get the first returned node in the jQuery collection.
      }
      function init2(categories, data){
            var options = {
                credits : {
                    enabled : false//去掉右下角的标志
                },
                chart: {
                    renderTo: 'containerRight',
                    type: 'column',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '实时数量统计'
                },
                animation:{
                    enabled:true
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                // series: [{type: 'column'}]
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: '数量'
                    }
                },
                plotOptions: {
                    column: {
                        showInLegend: false
                    }
                },
                series: [{type:'column'}]
            };
             options.series = [{name:'', data: data, color:'white'}];
            columnChart = new Highcharts.Chart(options);        
        //This will get the first returned node in the jQuery collection.
      }
      function init3(currentInventory, minInventory, categories){
        var options = {
            chart: {
                renderTo: 'container2',
                type: 'column'
            },
            title: {
                text: '实时库存预警系统'
            },
            xAxis: {
                categories: categories
                // categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                    title: {
                        text: '数量'
                    }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '当前库存',
                data: currentInventory
                // data: [5, 3, 4, 7, 2]
            }, {
                name: '最低库存',
                data: minInventory
                // data: [2, 2, 3, 2, 1]
            }]
        };
        doubleColumnChart = new Highcharts.Chart(options);
        // $('#container2').highcharts(options);        
      }
      $(document).ready(function(){
          init([['A',3],['B', 3]]);
          var colors = Highcharts.getOptions().colors;
          var categories = ['Apples', 'Bananas', 'Oranges'];
            var data = [{
                    y: 55,
                    color: colors[0],
                }, {
                    y: 21,
                    color: colors[1],
                }, {
                  y: 30,
                  color: colors[2],
                }];
          init2(categories, data);
          var current = [5, 3, 4, 7, 2];
          var min = [2, 2, 3, 2, 1];
          var categories2 = ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'];
          init3(current, min, categories2);


          setTimeout('testChangeData()', 3000);

      });
      function testChangeData(){
          pieChart.destroy();
          init([['A',3],['B', 5]]);

          var colors = Highcharts.getOptions().colors;
          var categories = ['Apples', 'Bananas', 'Oranges', 'Other'];
          var data = [{
                  y: 55,
                  color: colors[0],
              }, {
                  y: 21,
                  color: colors[1],
              }, {
                y: 10,
                color: colors[2],
              }, {
                y: 10,
                color: colors[3]

              }];
          columnChart.destroy();
          init2(categories, data);

          var current = [8, 6, 2, 1, 5];
          var min = [2, 2, 3, 2, 1];
          var categories2 = ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'];
          doubleColumnChart.destroy();
          init3(current, min, categories2);

            // columnChart.xAxis.setCategories(['Apples', 'Bananas', 'Oranges', 'freeee']);
            // columnChart.series[0].setData(data);
            // columnChart.series[0].setData([{name:'', data: data, color:'white'}]);
      }
        function createWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) { onOpen(evt) };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
        }
        function onOpen(evt) {
        }
        function onClose(evt) {
        }
        function onMessage(evt) {
            var tags = JSON.parse(evt.data);

            _.each(tags, function(_tag){

                var tag = _.find(epcList, function(_epcInfo){
                    return _epcInfo.epc == _tag.epc;
                });              
                if(_tag.Event == 'normal' || _tag.Event == 'added'){

                    if(tag == null){
                      epcList.push(_tag);
                    }
                    // addItemToFloor((new Number(_tag.antennaID)).toFixed(), (new carbinetItem(_tag.epc)));
                }else if(_tag.Event == 'deleted'){
                    if(tag != null){
                        epcList = _.filter(epcList, function(_epcInfo){
                            return _epcInfo.epc != _tag.epc;
                        });
                    }
                    // removeItemByEPC(_tag.epc);
                }
            });
            updatePie();
            updateColumnChart();
            // var itemType = _.find(epcTypeList, function(_epcType){
            //     return _epcType.epc == _epc;
            // });
            // if(itemType == null){
            //   this.itemType = 'default';
            // }else{
            //   this.itemType = itemType.itemType;
            // }

        }
        function updateColumnChart(){
            var typeList = _.map(epcList, function(_tag){
                var itemTypeInfo = _.find(epcTypeList, function(_epcType){
                    return _epcType.epc == _tag.epc;
                });
                if(itemTypeInfo == null){
                  itemTypeInfo = {epc:'', itemType:'default'};
                }                
                return {epc: _tag.epc, itemType: itemTypeInfo.itemType};
            });
            var groups = _.groupBy(typeList, function(_tag){
                return _tag.itemType;
            });
            // var categories = ['Apples', 'Bananas', 'Oranges', 'Other'];
            var categories = _.map(groups, function(_group, _itemType){
                var titleInfo = _.find(typeImageMap, function(_map){
                    return _map.itemType == _itemType;
                });
                return titleInfo.title;                
            });
            var counts = _.map(groups, function(_group, _itemType){
                  return _.size(_group);
            });
            var data = [];
            var colors = Highcharts.getOptions().colors;
            for(var i = 0, len = _.size(categories); i< len; i++){
                data.push({y: counts[i], color: colors[i]});
            }
            // var data = [{
            //         y: 55,
            //         color: colors[0],
            //     }, {
            //         y: 21,
            //         color: colors[1],
            //     }, {
            //       y: 10,
            //       color: colors[2],
            //     }, {
            //       y: 10,
            //       color: colors[3]

            //     }];
            columnChart.destroy();
            init2(categories, data);          
        }
        function updatePie(){
            var typeList = _.map(epcList, function(_tag){
                var itemTypeInfo = _.find(epcTypeList, function(_epcType){
                    return _epcType.epc == _tag.epc;
                });
                if(itemTypeInfo == null){
                  itemTypeInfo = {epc:'', itemType:'default'};
                }                
                return {epc: _tag.epc, itemType: itemTypeInfo.itemType};
            });
            var groups = _.groupBy(typeList, function(_tag){
                return _tag.itemType;
            });
            var data = _.map(groups, function(_group, _type){
                var titleInfo = _.find(typeImageMap, function(_map){
                    return _map.itemType == _type;
                });
                return [titleInfo.title, _.size(_group)];
            });
            pieChart.destroy();
            init(data);          
        }
        function onError(evt) {
        }      

    </script>
  </head>
  <body>
    <div class="container">
      <h3 class="demo-panel-title" style="text-align:center;font-size:35px;">智能货架</h3>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerLeft" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerRight" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
            <div id="container2" ></div>
          </div>
      </div>
    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- // <script src="js/bootstrap-select.js"></script> -->
    <!-- // <script src="js/bootstrap-switch.js"></script> -->
    <!-- // <script src="js/flatui-checkbox.js"></script> -->
    <!-- // <script src="js/flatui-radio.js"></script> -->
    <!-- // <script src="js/jquery.tagsinput.js"></script> -->
    <!-- // <script src="js/jquery.placeholder.js"></script> -->
    <!-- // <script src="js/jquery.stacktable.js"></script> -->
    <!-- // <script src="http://vjs.zencdn.net/c/video.js"></script> -->
    <!-- // <script src="js/application.js"></script> -->
  </body>
</html>
