
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>智能货架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <style type="text/css">

    </style>
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/highcharts.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script type="text/javascript">
      var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);

      var pieChart;
      var columnChart;
      var inventories = [];
// 3005FB63AC1F3681EC880469
      function initPie(data){
            var options = {
                credits : {
                    enabled : false//去掉右下角的标志
                },
                chart: {
                    renderTo: 'containerLeft',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '实时产品比例统计'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                // legend: {enabled: false;},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            color: '#ffffff',
                            connectorColor: '#000000',
                            formatter: function() {
                                return this.percentage.toFixed(2) +' %';
                                // return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{type: 'pie'}]
            };
             options.series[0].data = data;
             // options.series[0].data = [['A',3],['B', 3]];
            pieChart = new Highcharts.Chart(options);        
        //This will get the first returned node in the jQuery collection.
      }
      function initColumnBar(categories, data){
            var options = {
                credits : {
                    enabled : false//去掉右下角的标志
                },
                chart: {
                    renderTo: 'containerRight',
                    type: 'column',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '实时数量统计'
                },
                animation:{
                    enabled:true
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                // series: [{type: 'column'}]
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: '数量'
                    }
                },
                plotOptions: {
                    column: {
                        showInLegend: false
                    }
                },
                series: [{type:'column'}]
            };
             options.series = [{name:'', data: data, color:'white'}];
            columnChart = new Highcharts.Chart(options);        
        //This will get the first returned node in the jQuery collection.
      }

      $(document).ready(function(){
          initPie([['未知',1]]);
          // initPie([['A',0],['B', 0]]);

          var colors = Highcharts.getOptions().colors;
          var categories = ['未知', '未知'];
          var data = [{
                    y: 0.1,
                    color: colors[0],
                      }, {
                        y: 0.1,
                        color: colors[1],
                    }];
          initColumnBar(categories, data);

          // setTimeout('testChangeData()', 3000);
          createWebSocket();
          setInterval(function(){
            if(websocket == null) createWebSocket();
          }, 2000);
      });

      function testChangeData(){
          pieChart.destroy();
          initPie([['A',3],['B', 5]]);

          var colors = Highcharts.getOptions().colors;
          var categories = ['未知'];
          var data = [{
                  y: 55,
                  color: colors[0],
              }];
          columnChart.destroy();
          initColumnBar(categories, data);
      }

      function createWebSocket() {
          websocket = new WebSocket(wsUri);
          websocket.onopen = function (evt) { onOpen(evt) };
          websocket.onclose = function (evt) { onClose(evt) };
          websocket.onmessage = function (evt) { onMessage(evt) };
          websocket.onerror = function (evt) { onError(evt) };
      }

      function onOpen(evt) {
      }

      function onClose(evt) {
          websocket == null;
      }

      function onMessage(evt) {
        var bChanged = false;
        try{
          var newInventories = JSON.parse(evt.data);
          var size1 = _.size(inventories);
          inventories = _.filter(inventories, function(_inventory){
            return _.findWhere(newInventories, {productCode: _inventory.productCode}) != null;
          });
          var size2 = _.size(inventories);
          if(size1 != size2) bChanged = true;

          _.each(newInventories, function(inventory){
              var inv = _.findWhere(inventories, {productCode: inventory.productCode});
              if(null != inv){
                if(inv.value != inventory.value){
                  bChanged = true;
                  inv.value = inventory.value;
                  if(inv.productName == null){
                    inv.productName = inventory.productName;
                  }
                }
              }else{
                inventories.push(inventory);
                bChanged = true;
              }
          })

          if(bChanged == true){
            updatePie();
          updateColumnChart();
          }
        }catch(error){
          console.error(error);
        }
      }

      function updateColumnChart(){
          var colors = Highcharts.getOptions().colors;
          if(_.size(inventories) <= _.size(colors)){

            var categories = _.map(inventories, function(_inventory){
                return _inventory.productName;
            });
            var data = _.map(inventories, function(_inventory, _index){
                return {y: _inventory.value, color: colors[_index]};
            });
            columnChart.destroy();
            initColumnBar(categories, data);      
          }
          return;
      }

      function updatePie(){
          var data = _.map(inventories, function(_inventory){
              return [_inventory.productName, _inventory.value];
          });
          console.log(data);
          if(_.size(data) > 0){
            pieChart.destroy();
            initPie(data); 
          }
          return;            
      }

      function onError(evt) {
        websocket = null;
      }      

    </script>
  </head>
  <body>
    <div class="container">
      <h3 class="demo-panel-title" style="text-align:center;font-size:35px;">智能货架</h3>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerLeft" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerRight" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
            <div id="container2" ></div>
          </div>
      </div>
    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
