
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">

<html debug="true">
<head>
<!-- <base href="http://www.highcharts.com" /> -->

<title>Highcharts - Spline updating each second</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="../favicon.ico"/>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <script type="text/javascript" src = "/javascripts/jquery.js"></script>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script type="text/javascript">
// jQuery.noConflict();
</script>


<!-- Highslide code -->
<!-- <script type="text/javascript" src="highslide/highslide-full.min.js"></script>
<script type="text/javascript" src="highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="highslide/highslide.css" />
 --><!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/highslide/highslide-ie6.css" />
<![endif]-->
<!-- End Highslide code -->

<script type="text/javascript">
var example = 'dynamic-update',
	theme = 'grid';
</script>

<!-- <script src="demo/scripts.js"></script> -->


<!-- <link rel="stylesheet" href="templates/yoo_symphony/css/template.css" type="text/css" /> -->
<!-- <link rel="stylesheet" href="templates/yoo_symphony/css/variations/brown.css" type="text/css" /> -->
<!-- <link href="demo/demo.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript">

(function($){ // encapsulate jQuery

$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
    
        var chart;
        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
    
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function() {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
    
                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                })()
            }]
        });
    });
    
});
})(jQuery);
</script>

<style type="text/css">
</style>

</head>
<body>

<div id="demo-header">

	<a class="button button-group-left" id="view-menu"><i class="icon-caret-left"></i> Demo</a>
	<a class="button button-group-right" id="view-theme"><i class="icon-caret-down"></i> Theme</a>

		<a class="button button-group-left" id="next-topnav" title="Previous (arrow left)" 
		href="demo/bubble-3d/grid">
		<i class="icon-chevron-left"></i>
	</a>
		
		<a class="button button-group-right" id="next-topnav"  title="Next (arrow right)"
		href="demo/dynamic-click-to-add/grid">
		<i class="icon-chevron-right"></i>
	</a>
	

	<h1>Highcharts - Spline updating each second</h1>


	<p class="logo">
		<a href="http://www.highcharts.com">
			<img src="http://api.highcharts.com/resources/images/Highcharts-icon-160px.png" style="display:inline; width: 40px; height: 40px" 
				/>&nbsp;<span>Highcharts</span>
		</a>
	</p>


</div>



 


<div id="demo-content">
	
	<div id="styleswitcher">
		<ul>
			<li><a href="demo/dynamic-update">Default</a></li>
			<li><a href="demo/dynamic-update/grid">Grid</a></li>
			<li><a href="demo/dynamic-update/skies">Skies</a></li>
			<li><a href="demo/dynamic-update/gray">Gray</a></li>
			<li><a href="demo/dynamic-update/dark-blue">Dark blue</a></li>
			<li><a href="demo/dynamic-update/dark-green">Dark green</a></li>
		</ul>
	</div>

	<div style="margin: 5px">
	<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<div style="margin: 1em">
	
		
		<div class="buttons">
			<a href="javascript:" 
				onclick="hs.htmlExpand(this, { width: 800,
					headingText: 'Highcharts Configuration Preview', 
					wrapperClassName: 'draggable-header' })">
				<i class="icon-cog"></i>
				View options</a>
			
	</div>
		
		
	</div>
	

</div>


<script src="http://code.highcharts.com/themes/grid.js"></script>


</body>

</html>

