<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script language="javascript" type="text/javascript">
    // var wsUri = "ws://localhost:3003/";
	var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);

    var output;
    function init() {
        output = document.getElementById("output");
        createWebSocket();
    }
    function createWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }
    function onOpen(evt) {
        writeToScreen("CONNECTED");
        var messageInfo = { command: 'subscribe', content: 'simpleReader1' };
        // var messageInfo = { command: 'subscribe', content: 'reader2,reader1' };
        doSend(JSON.stringify(messageInfo));

        var messageInfoGetTags = { command: 'alltags', content: '' };
        doSend(JSON.stringify(messageInfoGetTags));
    }
    function onClose(evt) {
        writeToScreen("DISCONNECTED");
    }
    function onMessage(evt) {
        // writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
        var tags = JSON.parse(evt.data);
        if (tags.length > 0) {
            for (var i = 0; i < tags.length; i++) {
                var tag = tags[i];
                writeToScreen("antennaID : " + tag.antenaID + " | epc : " + tag.epc + " | " + tag.Event);
            }
            writeToScreen("---------------------------------------------------------------------");
        }
        //websocket.close();
    }
    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }
    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }
    function writeToScreen(message) {
        var pre = document.createElement("p");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        if(output.childNodes.length <= 0){
            output.appendChild(pre);
        }else{
            output.insertBefore(pre, output.childNodes[0]);
        }
    }
    window.addEventListener("load", init, false);
</script>

<h2>WebSocket Test</h2>
<div id="output"></div>
</html>
  
  