
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>智能货架测试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <style type="text/css">

    </style>
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/highcharts.js"></script>
    <script type="text/javascript" src = "/javascripts/grid.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script type="text/javascript">
    var example = 'dynamic-update',
      theme = 'grid';
    </script>

    <script type="text/javascript">

      var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
      var doubleColumnChart;
      var websocket = null;
      var dataSeriesReadCount = null;
      var dataSeriesReadInterval = null;
      var dataSeriesMisreading = null;
      var antenas=['01', '02', '04', '08'];
      var EPCList = [];
      var currentEPC = null;
      $(function () {
          $(document).ready(function() {
              Highcharts.setOptions({
                  global: {
                      useUTC: false
                  }
              });
            initialChart_readCount();
            initialChart_readInterval();
            initialChart_misreading();
            // testChangeData();
            createWebSocket();
            setInterval(checkWebsocketState, 2000);

          });
          
      });
      function initialChart_misreading(){
              var chart;
              $('#container2').highcharts({
                  chart: {
                      type: 'spline',
                      animation: Highcharts.svg, // don't animate in old IE
                      marginRight: 10,
                      events: {
                          load: function() {
          
                              // set up the updating of the chart each second
                              dataSeriesMisreading = this.series[0];
                          }
                      }
                  },
                  title: {
                      text: '标签误读实时图'
                  },
                  xAxis: {
                      type: 'datetime',
                      tickPixelInterval: 150
                  },
                  yAxis: {
                      title: {
                          text: '是否误读（是：-1  否：1）'
                      },
                      plotLines: [{
                          value: 0,
                          width: 1,
                          color: '#808080'
                      }]
                  },
                  tooltip: {
                      formatter: function() {
                              return '<b>'+ this.series.name +'</b><br/>'+
                              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                              Highcharts.numberFormat(this.y, 2);
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  },
                  series: [{
                      name: '读取间隔',
                      data: (function() {
                          // generate an array of random data
                          var data = [],
                              time = (new Date()).getTime(),
                              i;
          
                          for (i = -19; i <= 0; i++) {
                              data.push({
                                  x: time + i * 1000,
                                  // y: Math.random()
                                  y: 0
                              });
                          }
                          return data;
                      })()
                  }]
              });       
      }      
      function initialChart_readInterval(){
              var chart;
              $('#containerRight').highcharts({
                  chart: {
                      type: 'spline',
                      animation: Highcharts.svg, // don't animate in old IE
                      marginRight: 10,
                      events: {
                          load: function() {
          
                              // set up the updating of the chart each second
                              dataSeriesReadInterval = this.series[0];
                          }
                      }
                  },
                  title: {
                      text: '标签读取间隔实时图'
                  },
                  xAxis: {
                      type: 'datetime',
                      tickPixelInterval: 150
                  },
                  yAxis: {
                      title: {
                          text: '时间间隔（秒）'
                      },
                      plotLines: [{
                          value: 0,
                          width: 1,
                          color: '#808080'
                      }]
                  },
                  tooltip: {
                      formatter: function() {
                              return '<b>'+ this.series.name +'</b><br/>'+
                              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                              Highcharts.numberFormat(this.y, 2);
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  },
                  series: [{
                      name: '读取间隔',
                      data: (function() {
                          // generate an array of random data
                          var data = [],
                              time = (new Date()).getTime(),
                              i;
          
                          for (i = -19; i <= 0; i++) {
                              data.push({
                                  x: time + i * 1000,
                                  // y: Math.random()
                                  y: 0
                              });
                          }
                          return data;
                      })()
                  }]
              });       
      }

      function initialChart_readCount(){

              var chart;
              $('#containerLeft').highcharts({
                  chart: {
                      type: 'spline',
                      animation: Highcharts.svg, // don't animate in old IE
                      marginRight: 10,
                      events: {
                          load: function() {
          
                              // set up the updating of the chart each second
                              dataSeriesReadCount = this.series[0];
                              // var series = this.series[1];
                              // setInterval(function() {
                              //     var x = (new Date()).getTime(), // current time
                              //         y = Math.random();
                              //         // y = 2;
                              //     series.addPoint([x, y], true, true);
                              // }, 1000);
                          }
                      }
                  },
                  title: {
                      text: '标签读取次数实时图'
                  },
                  xAxis: {
                      type: 'datetime',
                      tickPixelInterval: 150
                  },
                  yAxis: {
                      title: {
                          text: '读取次数'
                      },
                      plotLines: [{
                          value: 0,
                          width: 1,
                          color: '#808080'
                      }]
                  },
                  tooltip: {
                      formatter: function() {
                              return '<b>'+ this.series.name +'</b><br/>'+
                              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                              Highcharts.numberFormat(this.y, 2);
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  },
                  series: [{
                      name: '读取次数',
                      data: (function() {
                          // generate an array of random data
                          var data = [],
                              time = (new Date()).getTime(),
                              i;
          
                          for (i = -19; i <= 0; i++) {
                              data.push({
                                  x: time + i * 1000,
                                  // y: Math.random()
                                  y: 0
                              });
                          }
                          return data;
                      })()
                  }]
              });       
      }
      function checkWebsocketState(){
        if(websocket == null) createWebSocket();
      }
      function testChangeData(){
            setInterval(function() {
                var x = (new Date()).getTime(), // current time
                    // y = Math.random();
                    y = 3;
                dataSeriesReadCount.addPoint([x, y], true, true);
            }, 1000);
      }
      function createWebSocket() {
          websocket = new WebSocket(wsUri);
          websocket.onopen = function (evt) { onOpen(evt) };
          websocket.onclose = function (evt) { onClose(evt) };
          websocket.onmessage = function (evt) { onMessage(evt) };
          websocket.onerror = function (evt) { onError(evt) };
      }
      function onOpen(evt) {
      }
      function onClose(evt) {
        console.log('websocket close');
        websocket = null;
      }
      function onMessage(evt) {
          var tag = JSON.parse(evt.data);
          if(_.contains(EPCList, tag.epc) == false){
              EPCList.push(tag.epc);
              var li = $('<li><a>'+ tag.epc +'</a></li>');
              li.bind('click', function(){
                  changeEpc(tag.epc);
              })
              $('#epcList').append(li);
          }
          if(currentEPC == null){
            currentEPC = tag.epc;
            $('#lblCurrentEPC').html('当前标签：' + currentEPC);
            addPoint(tag);
          }else if(tag.epc == currentEPC){
            addPoint(tag);
          }
      }
      function changeEpc(_epc){
          // alert(_epc);
            $('#lblCurrentEPC').html('当前标签：' + _epc);
            currentEPC = _epc;
      }
      function addPoint(_tag){
          // console.dir(_tag);
          var x = (new Date()).getTime(); // current time
          var y = parseInt(_tag.readCount);
          // console.log(y);
          // var y = 4;    
          dataSeriesReadCount.addPoint([x, y], true, true);
          var interval = _tag.interval;
          // console.log(interval);          
          dataSeriesReadInterval.addPoint([x, interval/1000], true, true);

          if(_.contains(antenas, _tag.antenaID) == true){
              dataSeriesMisreading.addPoint([x, 1], true, true);
          }else{
              dataSeriesMisreading.addPoint([x, -1], true, true);
          }
      }
      function onError(evt) {
        console.log('websocket error');
        websocket = null;
      }      

    </script>
  </head>
  <body>


    <div class="container">
      <h3 class="demo-panel-title" style="text-align:center;font-size:35px;">智能货架测试系统</h3>
      <h3 class="demo-panel-title" style="text-align:center;font-size:25px;" id="lblCurrentEPC"></h3>
    <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    选择测试标签 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" id = "epcList">
    <!-- <li><a href="#">Action</a></li> -->

  </ul>
</div>

      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-4">
            <div id="containerLeft" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-4">
            <div id="containerRight" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-4">
            <div id="container2" ></div>
          </div>
      </div>
    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
